%h1 Edit Role

= simple_form_for @role, html: { class: 'role-form' } do |f|
  .form-group
    = f.input :name, label: 'Role Name', input_html: { class: 'form-control' }

  .form-group
    = f.input :menu, label: 'Menüler', as: :select, collection: RoleFunctions.menu_ability_models.map { |model, path| [model, path] }, include_blank: 'Seçiniz', input_html: { class: 'form-control select-box', multiple: true }

  .form-group
    = f.submit 'Güncelle', class: 'btn btn-primary btn-lg'
