%aside#default-sidebar.fixed.top-16.left-0.z-40.w-64.h-screen.transition-transform.-translate-x-full{"aria-label" => "Sidebar"}
  .h-full.px-3.py-4.overflow-y-auto.bg-gray-50.dark:bg-gray-800
    %ul.space-y-2.font-medium
      - if current_user.permission_for?("users_path")
        %li
          %a.flex.items-center.p-2.text-gray-900.rounded-lg.dark:text-white.hover:bg-gray-100.dark:hover:bg-gray-700.group{href: users_path}
            %i.fas.fa-user.teams-icon{"aria-hidden" => "true"}
            %span.flex-1.ms-3.whitespace-nowrap= t('views.navbar.users')

      - if current_user.permission_for?("roles_path")
        %li
          %a.flex.items-center.p-2.text-gray-900.rounded-lg.dark:text-white.hover:bg-gray-100.dark:hover:bg-gray-700.group{href: roles_path}
            %i.fas.fa-fingerprint.roles-icon{"aria-hidden" => "true"}
            %span.flex-1.ms-3.whitespace-nowrap= t('views.navbar.roles')

      - if current_user.permission_for?("teams_path")
        %li
          %a.flex.items-center.p-2.text-gray-900.rounded-lg.dark:text-white.hover:bg-gray-100.dark:hover:bg-gray-700.group{href: teams_path}
            %i.fas.fa-people-group.teams-icon{"aria-hidden" => "true"}
            %span.flex-1.ms-3.whitespace-nowrap= t('views.navbar.teams')
